<div class="page-region">
	<div class="page-region-content">
		<div class="clearfix" style="margin-top: 50px; position:relative; left:30%;">

			<div class="tile quadro double-vertical image-set ">
				<div class="tile-content bg-color-blue">
					<a href="/" style="position:relative; top:0px; z-index:0"><%= image_tag('logo.png', style:"height:300px") %></a>
					<h1 class="brand name" style="position:relative; top:-180px; left:20%;z-index:0"><a href="/" style=" font-size:30px;">MobileWorld</a></h1>
					
					
				</div>
				<div class="tile-content bg-color-yellow" data-role="tile-slider">
					<div class="tile-content" >
						<h1>View Phones</h1>
						<%= image_tag 'view.png', style:"width:64px" %>
					</div>
					<div class="tile-content" >
						<h1>Give Your feedback</h1>
						<%= image_tag 'feedback.png', style:"width:64px" %>
					</div>
					<div class="tile-content" >
						<h1>Compare Phones</h1>
						<%= image_tag 'compare.jpg', style:"width:64px" %>
					</div>
				</div>

				<div class="tile-content bg-color-green" data-role="tile-slider"  data-param-direction="right" data-param-period="3500">
					<div class="tile-content" >
						<h1>Join!</h1>
						<%= image_tag 'default_user.png', style:"width:64px" %>
					</div>
					<div class="tile-content" >
						<h1>Give Your feedback</h1>
						<%= image_tag 'feedback.png', style:"width:64px" %>
					</div>
					<div class="tile-content" >
						<h1>Compare Phones</h1>
						<%= image_tag 'compare.jpg', style:"width:64px" %>
					</div>
				</div>

				<div class="tile-content bg-color-darken" data-role="tile-slider" data-param-direction="down" data-param-period="3900">
					<div class="tile-content" >
						<h1>Phones</h1>
						<%= image_tag 'default_phone.png', style:"width:64px" %>
					</div>
					<div class="tile-content" >
						<h1>Give Your feedback</h1>
						<%= image_tag 'feedback.png', style:"width:64px" %>
					</div>
					<div class="tile-content" >
						<h1>Compare Phones</h1>
						<%= image_tag 'compare.jpg', style:"width:64px" %>
					</div>
				</div>

				<div class="tile-content bg-color-red" data-role="tile-slider" data-param-direction="left" data-param-period="3700">
					<div class="tile-content" >
						<h1>Compare Phones</h1>
						<%= image_tag 'compare.jpg', style:"width:64px" %>
					</div>
					<div class="tile-content" >
						<h1>Give Your feedback</h1>
						<%= image_tag 'feedback.png', style:"width:64px" %>
					</div>
					<div class="tile-content" >
						<h1>Join!</h1>
						<%= image_tag 'default_user.png', style:"width:64px" %>
					</div>
				</div>


			</div>




		</div>
	</div>
</div>
</div>